.title-container {  
    display:flex;
    #heroBottom {
        background-image:none;
        height:25vh;
    }
    .hero {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        height:65vh;
        width:70%;
        margin:1.5% 15%;
        background-image: url(/assets/Essentialism.png);
        background-position:center;
        @media @mobile{
            height:25vh;
            width:70%;
            background-image: url(/assets/HeroMobile.png);
            background-repeat: no-repeat;
        }
    button {
    .custom-btn(@alt-color, @main-color)       
 }
    button:hover{
    .custom-btn(@main-color, @alt-color)
    }
    h1 {
        text-align:center;
        font-size: 4rem;
        color:@main-color;
        font-family:'Varela', sans-serif;
        @media @mobile{
            font-size: 2.1rem;
        }    
    }
    }
}

.artists-container {
    display:flex;
    justify-content:center;
    @media @mobile{
        flex-direction:column;
        align-items:center;
    }
    div {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin:2%;
        @media @mobile{
            margin:1%;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content: center;
            align-self:center;
            justify-self:center;
        }
    }
    img {
        width:20rem;
        justify-content:center;
        align-items:center;
        border-radius:3%;
    }
    .bio {
        width:38rem;
        text-align:center;
        align-items:center;
        font-size: 2rem;
        @media @mobile{
            width:90%;
            font-size: 1.5rem;
            
        }
         
    }
    .title {
        text-align:center;
        align-items:center;
        font-size:2rem;        
        @media @mobile{
            font-size:1.8rem;
        }
    }
    a {
        text-decoration:none;
        color:grey;
    }
    a:hover {
        color:@main-color;

}
}

#headshot{
    display:flex;
    justify-content:center;
}

#artist1{
    @media @mobile{
    order:1;
}}
#artist2{
    @media @mobile{
    order:2;
}}
#artist3{
    @media @mobile{
    order:4;
}}
#artist4{
    @media @mobile{
    order:3;
}}
#artist5{
    @media @mobile{
    order:5;
}}
#artist6{
    @media @mobile{
    order:6;
}}
#artist7{
    @media @mobile{
    order:7;
}}
#artist8{
    @media @mobile{
    order:8;
}}
#artist9{
    @media @mobile{
    order:10;
}}
#artist10{
    @media @mobile{
    order:9;
}}
#artist11{
    @media @mobile{
    order:11;
}}
#artist12{
    @media @mobile{
    order:12;
}}
#artist13{
    @media @mobile{
    order:13;
}}
#artist14{
    @media @mobile{
    order:14;
}}
#artist15{
    @media @mobile{
    order:16;
}}
#artist16{
    @media @mobile{
    order:15;
}}
#artist17{
    @media @mobile{
    order:17;
}}
#artist18{
    @media @mobile{
    order:18;
}}

.buttonA a{
    text-decoration:none;
    color:@main-color;
}

.buttonA:hover a{
    color:@alt-color;
}