.title-container {  
    display:flex;
    .hero {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        height:65vh;
        width:70%;
        margin:1.5% 15%;
        background-image: url(/assets/Essentialism.png);
        background-position:center;
        @media (max-width:500px){
            height:35vh;
            
            
        }
    button {
        height:auto;
        margin:2%;
        font-size:1.5rem;
        font-family:'Varela', sans-serif;
        border-radius:5%;
        padding:1.5%;
        background-color:white;
        color:black;

        
 }
    button:hover{
        background-color:black;
        color:white;
    }
    h1 {
        text-align:center;
        font-size: 4rem;
        color:black;
        font-family:'Varela', sans-serif;
        @media (max-width:500px){
            font-size: 2rem;
        }    
    }
    }
}

.artists-container {
    display:flex;
    justify-content:center;
    margin:2% 10%;
    @media (max-width:500px){
        margin:4% 0;
        flex-direction:column;
    }
    img {
        width:15rem;
        margin: 2% 30%;
        border-radius:3%;
        @media (max-width:500px){
            width:90%;
        }
    }
    .bio {
        width:38rem;
        text-align:center;
        font-size: 1.4rem;
        @media (max-width:500px){
            width:90%;
            font-size: 1rem;
            
        }
    }
    div {
        margin: 0 5%;
        
    }
    .title {
        text-align:center;
        font-size:2rem;
        
        @media (max-width:500px){
            font-size:1.3rem;
        }
    }
    a {
        text-decoration:none;
        color:grey;
    }
    a:hover {
        color:black;

}
}